.container {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #9A208C; 
	border-radius: 10px;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
    color: #21b004;
}

label {
	font-size: 24px;
	display: block;
	margin-bottom: 10px;
}

input[type="date"] {
	font-size: 24px;
	padding: 5px;
	margin-bottom: 20px;
}

button {
	font-size: 24px;
	padding: 10px 20px;
	background-color: #9A208C;
	color: #FFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 20px;
}

button:hover {
	background-color: #3A1078;
	color: #B9F3E4;
}

p {
	font-size: 24px;
}
